.container {
    margin: 0 auto;

}
.header {
    background: #10BBD5;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.menu-1 {
    display: inline-flex;
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-content-1 {
    display: flex;
    width: 1296px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}
.logo-book {
    width: 26px;
    height: 28px;
}
.logo-text {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.cart-balance {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.cart-button {
    width: 40px;
    height: 40px;
    border: 0px;
    position: relative;
    background-color: #10BBD5;

}
.cart {
    width: 33.126px;
    height: 21.667px;
}
.cart::after {
    display: block;
    background-image: url(/img/Cart/Cart-side.svg);
    width: 8.333px;
    height: 8.333px;
    position: absolute;
    top: 28.33px;
    /* background-image: url(/); */   
}
.cart-text {
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 18px;
    left: 19px;
}
.menu-2 {
    margin: 0 auto;
    display: inline-flex;
    padding: 4px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.menu-2-div {
    display: flex;
    width: 1296px;
    justify-content: space-between;
    align-items: flex-start;
}
.menu-2-title {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.menu-2-ul {
    display: flex;
    gap: 40px;
}
.menu-2-a {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 0;
    background-color: #10BBD5;
    position: fixed;
    top: 696px;
    right: 28px;
}
.chat-img {
    width: 51.2px;
    height: 51.2px;
}
.chat-img:hover {
    transform: rotate(12.05deg);
}
.main {
    background-color: beige;
    /* width: 1400px; */
    height: 2032px;
}
.main-title {
    width: 1296px;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0 23px 0;
    margin: 0 auto;
    border-bottom: 1px solid #A8A8A8;
}
.product-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}
.main-content {
    display: flex;
    width: 1296px;
    justify-content: space-between;

}
.content-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 16px;
    padding: 32px;
    height: 448px;
    width: 242px;
    border: 1px solid #8E8E8E;
    position: relative;
}
.deck {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}
.deck-card {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.deck-card-1 {
    background: #4200FF;
}
.deck-card-2 {
    background: #AF39E7;
}
.deck-card-3 {
    background: #EA33C0;
}
.content-img {
    width: 178px;
    height: 280px;    
}
.content-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start

}
.book-name {
    display: flex;
    align-items: center;
    width: 242px;
    height: 31px;
    border-bottom: 1px solid #A8A8A8;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #1F1F1F;
    text-decoration: none;
    text-overflow: ellipsis;
}
.name-of-creator {
    display: flex;
    align-items: center;
    width: 241px;
    height: 24px;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8E8E8E;
    text-decoration: none;
}
.prise-div {
    display: flex;
    align-items: center;
    gap: 24px;
}
.prise {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.sale {
    text-decoration-line:line-through  ;
    color: #8E8E8E;
}
.button-type-1 {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4C394E;
    border: 0;
    width: 194px;
}
.button-type-1:hover {
    background-color: #744978;
    border: 0;
}
.button-type-2 {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D762D;
    border: 0;
    width: 194px;
}
.button-type-2:hover {
    background-color: #6DB236;
    border: 0;
}
.button-text {
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
}
.footer {
    display: flex;
    gap: 1124px;
    align-items: center;
    justify-content: center;
    padding: 32px 52px;
    background-color: #4C394E;
}
.footer-text {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
